/*Basic css*/
* {
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100%;
    font-family: $font;
    background-color: $bc;
}

img {
    max-width: 100%;
    height: auto;
}